<%- include("partials/header", { title: "🐶 Paw Showcase" }) %>
    <h1>🐶 Paw Showcase</h1>
    <hr>
    <h2>Breed - <%=breed%></h2>
    <h2>SubBreed - <%=subBreed%></h2>
    <img src="<%=imageLink%>" height="500" width="500" alt="subbreed">
    <br>
    <a href="/subbreeds/<%=breed%>">🐶🌿 Back to Paw Branches </a>
    <br>
    <hr>
    <a href="/">🏠 Back to Home</a>
<%- include("partials/footer") %>